<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="paton.laura.cspeed">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rocket_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rocket_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="paton.laura.cspeed.Game" />

        <activity
            android:name="paton.laura.cspeed.MainActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>